<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {{multilink.heading or title}}
    </title>
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
    {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
  </head>
  <body class="multilink" style="
  {% if multilink.background %}background-color: {{multilink.background}};{% endif %}
  {% if multilink.pattern %}background-image: linear-gradient(225deg, transparent 6.6em, {{multilink.background}} 6.6em 71.25%, transparent 71.25%), url({{multilink.pattern}});{% endif %}
  {% if multilink.color %}color: {{multilink.color}};{% endif %}
">
    {{ content | safe }}
    {% if path == "home" %}
      <!-- Netlify Identity Widget -->
      <!-- Needed only if you are using Netlify Identity feature -->
      <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {% endif %}

  </body>
</html>